main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
}


.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 2rem 1rem;
  gap: 2rem;
}

.biglogo img {
  width: 100%;
  max-width: auto;
  height: auto;
  display: block;
  margin: auto;
  background-color: rgb(43, 43, 43);
}


.OurProject {
    padding: 3vw 2vw;
    font-size: 1rem;
}

.OurProject h1 {
  text-align: center;  
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.hourlocation {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding: 2rem 1rem;
}

.location iframe {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  border: none;
}

.openhour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  font-size: 1rem;
}

.openhour h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .hourlocation {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .location iframe {
    width: 90%;
    height: 250px;
  }
}
