.carousel {
    width: 100%;
    max-width: 800 px;
    margin:0 auto;
    overflow: hidden;
}

.track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.track img {
  flex: 0 0 100%;
  height: 450px;
  object-fit: contain;
  scroll-snap-align: center;
}

.track img:first-child {
  margin-left: 50%;
  transform: translateX(-50%);
}
