/* PRODUCT SHOWCASE */
.allGuitarsShowcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  justify-items: center;
  padding: 2vw;
}
.product img {
  width: 75%;
  height: auto;
  max-width: 250px;
  border-radius: 0.5vw;
  display: block;
  margin: 0 auto;
}

.product figcaption {
  margin-top: 0.5vw;
  font-size: clamp(0.9rem, 1vw, 1.2rem);
  text-align: center;
}
/* Mobile phones */
@media (max-width: 480px) {
  .allGuitarsShowcase {
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
  }
}
  