nav {
  overflow: hidden;
  background-color: #3a3a3a;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  gap: 10px;
  padding: 5px;
}

nav button {
  background-color: rgb(244, 144, 22);
  border-radius: 5%;
  flex: 1; /* botons espai igual */
  margin: 0;
  padding: 15px 0;a
  text-align: center;
}